@model IEnumerable<BlogApplication.Models.Categories>

    <ul class="nav nav-pills nav-stacked" id="categories">
        <li class="active"><a href="#">Categories</a></li>
        @foreach (var item in Model)
{
            <li><a href="#" onclick="Category.GetCategory(@item.Id)">@Html.DisplayFor(modelItem=>item.CategoryName)</a></li>
}
    </ul>

@*<li><a href="#" onclick="location.href='@Url.Action("ArticleCategory", "Home", new {id=item.Id })'">@Html.DisplayFor(modelItem=>item.CategoryName)</a></li>*@

@*<li><a href="#" onclick="Category.GetCategory(@item.Id)">@Html.DisplayFor(modelItem=>item.CategoryName)</a></li>*@