@model BlogApplication.Models.Categories

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Delete Category</h3>
<fieldset>
    
    <div class="display-field">
        Category Name: @Html.DisplayFor(model => model.CategoryName)
    </div>

   
    <div class="display-field">
        Short Description: @Html.DisplayFor(model => model.CategoryDiscription)
    </div>

   
    <div class="display-field">
        Create Date: @Html.DisplayFor(model => model.CreateDate)
    </div>
</fieldset><br />
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" class="btn btn-lg btn-primary" />
        @Html.ActionLink(
    linkText: "Back to List",
    actionName: "Index",
    routeValues: "Category",
    htmlAttributes: new { @class = "btn btn-lg btn-primary" }
    )
    </p>
}
