@model BlogApplication.Models.Categories

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Edit Category</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CategoryName)
            @Html.ValidationMessageFor(model => model.CategoryName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryDiscription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CategoryDiscription)
            @Html.ValidationMessageFor(model => model.CategoryDiscription)
        </div>
        <p>
            <input type="submit" value="Save" class="btn btn-lg btn-primary" />
            @Html.ActionLink(
    linkText: "Back to List",
    actionName: "Index",
    routeValues: "Category",
    htmlAttributes: new { @class = "btn btn-lg btn-primary" }
    )
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
