@model IEnumerable<BlogApplication.Models.Categories>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table>
    <tr>
        <td><label>Name</label></td>
        <td><label>Description</label></td>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryDiscription)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}
    <tr><td>@Html.ActionLink("Create New Category", "Create", new { @class = "btn btn-lg btn-primary" })</td></tr>
    <tr><td>@Html.ActionLink(
    linkText:"Add Article",
    actionName:"Create",
    controllerName:"Admin")
    </td></tr>
</table>
