@model BlogApplication.ViewModel.EditViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Edit</legend>

        @Html.HiddenFor(model => model.Article.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Article.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Article.Title)
            @Html.ValidationMessageFor(model => model.Article.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Article.Content)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Article.Content)
            @Html.ValidationMessageFor(model => model.Article.Content)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Article.PostDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Article.PostDate)
            @Html.ValidationMessageFor(model => model.Article.PostDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Categories)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model=>model.Article.CategoryId,new SelectList(Model.Categories,"Value","Text"))
            @Html.ValidationMessageFor(model => model.Article.CategoryId)
        </div>

        <p>
            <input type="submit" value="Save" class="btn btn-lg btn-primary" />

            @Html.ActionLink(
    linkText:"Back To List",
    actionName:"Index",
    controllerName:"Admin",
    routeValues: new{value="asdasd198"},
    htmlAttributes:new {@class="btn btn-lg btn-primary"}
    )
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
